<div class="jumbotron">
	<h1>Welcome to the Photo Application</h1>
	<p>You'll love managing your Photo with our Application. Starting $10</p>
	<button class="btn btn-lg btn-primary">Sign Up!</button>
</div>